<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<style type="text/css">
			
			.block{width:800px;
					text-align:center;
					margin:0 auto;}

			body {background-color:green;
				font: 12px/18px "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;}

			p {font: 12px/18px "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
				color:black;}

		</style>
	</head>
	<body>
		<div class="block">
			<form>
				<input type="button" id="new" value="Начать игру">
			</form>
				<script>	
					var but=document.getElementById('new')
					but.addEventListener("click",
					function getrandom() { 
						var min_random = 15;
						var max_random = 30;
						max_random++;
						var range = max_random - min_random;
						var k=Math.floor(Math.random()*range) + min_random;
						var choise= Math.random();
							if (choise<=0.5) {
								choise='Браузер';
							}
							else {
								choise='Сервер';
							}
						alert("Количество палочек " + k + ".");
						alert("Начинает " + choise + ".");

						if (choise=='Браузер') {
									window.location.assign("/home/bro/?a=" + k + "&b=" + 0);
								}
								else {
									window.location.assign("/home/redirector/?a=" + k + "&b=" + 0);
								}
					},
				 	false);
				</script>
			<p><%= link_to 'Все игры', notes_path %></p>
		</div>
	</body>
</html>
